:root {
  --primary-color: #f6fff7;
  --secondary-color: #f7f2e7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --first-font: "Titillium Web", sans-serif;
  --second-font: "Cairo", sans-serif;
  --font-color: hwb(0 27% 73%);
  --four-color: #d8d3cd;
}
.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  margin: 60px 0 0 auto;
  font-family: var(--first-font);
  color: var(--font-color);
}
.background {
  background-image: url("../images/background1.jpg");
  padding-bottom: 20px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 50px;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 0;
}

h1 {
  font-size: 56px;
  margin-top: -1;
}

p {
  font-size: 24px;
  margin: 0;
  text-align: center;
  font-family: var(--second-font);
}

h3 {
  font-size: 24px;
}

h4 {
  margin-top: 40px;
  font-size: 35px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  transition: all 200ms ease;
}

.about-link {
  color: var(--font-color);
  border: 3px solid var(--primary-color);
  transition: all 200ms ease;
  box-shadow: var(--box-shadow);
}

.homepage-link {
  color: var(--primary-color);
  margin: auto;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 50px 0;
}

.about-paragraphs p {
  margin: auto;
  max-width: 700px;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
  font-family: var(--second-font);
}

.email-link:hover {
  text-decoration: underline;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed !important;
  top: 0;
  background-color: var(--secondary-color);
}

#contact {
  display: block;
  margin: 50px;
}

.navbar-brand {
  margin-left: 20px;
  position: relative;
  width: 165px;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.navbar-brand::before {
  content: "";
  position: absolute;
  top: -70%;
  left: -50%;
  width: 165px;
  height: 30px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 3s linear infinite;
}

.navbar-brand::after {
  content: "";
  position: absolute;
  top: -70%;
  left: -50%;
  width: 165px;
  height: 30px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 3s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar-brand-name {
  background: var(--secondary-color);
  position: absolute;
  inset: 2px;
  z-index: 10;
  border-radius: 8px;
  text-decoration: none;
  color: var(--font-color);
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-nav {
  position: absolute;
  right: 50px;
}

.img-fluid {
  transition: all 1s ease-in-out;
  margin-top: 30px;
}

.img-fluid:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #0c6efd;
}

.contact-link:hover {
  transform: scale(1.05);
}

.about-link:hover {
  transform: scale(1.05);
}

.link {
  text-decoration: none;
  color: #0c6efd;
  font-size: larger;
  transition: all 1s ease-in-out;
}
.link:hover {
  color: #003c97;
}
.project {
  margin: 50px;
  flex: 0 0 33.33%;
}

.cart-project {
  margin: 0 0 20px;
}
.cart-project img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
}

.content {
  background: var(--secondary-color);
  max-width: 100%;
  padding: 50px;
  margin: 0;
}

.text-about {
  max-width: 100%;
  padding: 50px;
  margin-top: -40px;
}
