:root {
  --primary-color: #e0ece4;
  --secondary-color: #f7f2e7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --first-font: "Titillium Web", sans-serif;
  --second-font: "Cairo", sans-serif;
  --font-color: hwb(0 27% 73%);
  --four-color: #d8d3cd;
}

body {
  margin: 60px auto !important;
  font-family: var(--first-font);
  color: var(--font-color);
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 0;
}

h1 {
  font-size: 56px;
  margin-top: -1;
}

p {
  font-size: 24px;
  margin: 0;
  text-align: center;
  font-family: var(--second-font);
}

h3 {
  font-size: 24px;
}

h4 {
  margin-top: 80px;
  font-size: 35px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  transition: all 200ms ease;
}

.about-link {
  color: var(--font-color);
  border: 1px solid var(--primary-color);
  transition: all 200ms ease;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
  font-family: var(--second-font);
}

.email-link:hover {
  text-decoration: underline;
}

.navbar {
  width: 100%;
  position: fixed !important;
  top: 0;
  background-color: var(--secondary-color);
}

#contact {
  display: block;
  margin: 50px;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-nav {
  position: absolute;
  right: 50px;
}

.col-sm-4 {
  transition: all 500ms ease-in-out;
}

.col-sm-4:hover {
  transform: scale(1.05);
}

.contact-link:hover {
  transform: scale(1.05);
}

.about-link:hover {
  transform: scale(1.05);
}

.link {
  text-decoration: none;
  color: var(--font-color);
}
